:root {
    /*--bgColor: #010001;*/
    --bgColor: #202021;
    --textColor: #e6e8ea;
    --borderColor: #3d4147;
    --hoverColor: #3399ff;
    --transitionTime: 0.2s;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    color: var(--textColor);
    font-family: Consolas, 'Courier New', monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bgColor);
}

::-webkit-scrollbar {
    width: 10px;
    transition: var(--transitionTime);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--borderColor);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.center {
    width: fit-content;
    margin: auto;
    display: flex;
}

nav,
aside {
    margin: 0 20px;
    padding: 20px 0;
    position: sticky;
    top: 0;
}

nav {
    width: 180px;
}

nav a {
    display: block;
    font-size: large;
    text-decoration: none;
    padding: 10px;
    border-left: 1px solid var(--borderColor);
    transition: var(--transitionTime);
}

nav a:hover {
    color: var(--hoverColor);
    padding-left: 15px;
    padding-right: 5px;
    border-color: var(--hoverColor);
}

main {
    width: 500px;
}

h1 {
    padding: 20px;
}

.name-card {
    padding: 20px;
}

.name-card h1 {
    font-size: 50px;
    padding: 0;
}

.name-card h3 {
    margin-top: 25px;
}

.name-card p {
    padding: 10px 5px;
}

.project {
    margin: 20px;
    padding-bottom: 26px;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    transition: var(--transitionTime);
}

.project:hover {
    border-color: var(--hoverColor);
}

.project h2 {
    margin: 10px 15px 0;
}

.stack {
    display: flex;
    margin: 5px 10px 10px;
}

.stack p {
    margin: 5px !important;
    padding: 4px 7px 5px;
    font-size: small !important;
    border: 1px solid var(--borderColor);
    border-radius: 2em;
}

.project img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.project p {
    margin: 5px 15px 15px;
    text-align: justify;
    font-size: 15px;
}

.project a {
    background-color: transparent;
    padding: 8px 10px 10px;
    margin: 0 0 15px 15px;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    text-decoration: none;
}

.connection-card {
    padding: 0 20px 80px;
}

.connection-card ul {
    margin-top: 15px;
}

.connection-card li {
    margin: 7px 27px;
}

.chat-wrapper {
    border: 1px solid var(--borderColor);
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    height: calc(100vh - 96px);
    width: 350px;
}

#chat {
    max-height: calc(100% - 96px);
    overflow-y: auto;
    position: absolute;
    bottom: 75px;
    width: calc(100% - 2px);
}

#chat .ai,
#chat .user {
    margin: 10px;
    padding: 5px;
    width: 80%;
}

#chat p {
    max-width: 100%;
    word-wrap: break-word;
}

#chat .ai {
    text-align: left;
}

#chat .user {
    margin-left: 12%;
    text-align: right;
    border: 1px solid var(--hoverColor);
    border-radius: 7px 7px 0 7px;
}

aside .chat-input-area {
    width: 336px;
    height: 40px;
    padding: 7px;
    border: 1px solid var(--borderColor);
    border-radius: 0 0 10px 10px;
    border-top: none;
}

.chat-input-area form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#questionInput {
    width: 80%;
    padding: 5px;
    background-color: transparent;
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    transition: var(--transitionTime);
}

#questionInput:hover,
#questionInput:focus {
    border-color: var(--hoverColor) !important;
    outline: none !important;
    box-shadow: none !important;
}

.chat-input-area form button {
    width: 15%;
    background-color: transparent;
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    transition: var(--transitionTime);
}

.chat-input-area form button:hover {
    border-color: var(--hoverColor);
    color: var(--hoverColor);
    cursor: pointer;
}

.timeline {
    position: relative;
    margin-left: 40px;
    padding-left: 20px;
    border-left: 2px solid var(--borderColor);
}

.timeline-item {
    position: relative;
    margin-bottom: 30px;
    padding-left: 10px;
}

.timeline-marker {
    position: absolute;
    left: -31px;
    top: 0;
    width: 16px;
    height: 16px;
    background-color: var(--bgColor);
    border-radius: 50%;
    border: 2px solid var(--textColor);
    transition: var(--transitionTime);
}

.timeline-item:hover .timeline-marker {
    border-color: var(--hoverColor);
}

.timeline-content {
    padding: 0;
    border-radius: 8px;
}

.timeline-content h2 {
    transform: translateY(-5px);
    transition: var(--transitionTime);
}

.timeline-item:hover .timeline-content h2 {
    color: var(--hoverColor);
}

.timeline-content .date {
    margin: 5px 0;
}

.timeline-content p {
    margin: 7px 0;
    font-size: 14px;
    color: var(--textColor);
}

.timeline-content .stack,
.timeline-content .stack p:first-of-type {
    margin-left: 0 !important;
}
